{% extends 'base.html' %}
{% load static %}

{% block title %} News App | Detailed story{% endblock%}

{% block content %}

<div id="mycarousel" style="background-color: black;">
  <input type="radio" name="position" />
  <input type="radio" name="position" checked/>
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <!-- <input type="radio" name="position" /> -->
  <main id="carousel">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <!-- <div class="item"></div> -->
    <main>
</div>

<div class="row" id="news-body">

    <div class="col-md-8">
        <div id="news-header">
            <h5> Detailed Story >>></h5>
        </div>

        <div class="jumbotron">
            <h4 class="display-4">Author : {{story_detail.author | title}}</h4>
            <p class="lead">{{story_detail.title}}</p>
            <hr class="my-4">
            <p>{{story_detail.story_link}}</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg mt-3" role="button" style="color: white;">Add comment</a>
            </p>
        </div>

        {% for comment in story_comments %}
            <p style="text-align: justify;"> {{ comment.comment }}</p>
            <hr class="my-4">
        {% endfor %}

        {% if story_comments.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if story_comments.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ story_comments.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true" >&laquo;</span>
                          <span class="sr-only">Previous</span>
                          </a>
                      </li>
                    {% else %}
                      <li class=" page-item disabled page-link"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in story_comments.paginator.page_range %}
                      {% if story_comments.number == i %}
                          <li class="active page-item page-link"><span style="color: red;">{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if story_comments.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ story_comments.next_page_number }}" aria-label="Next">
                          <span aria-hidden="true" >&raquo;</span>
                          <span class="sr-only">Next</span>
                          </a>
                      </li>
                    {% else %}
                      <li class=" page-item disabled page-link"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %} 
        
    </div>

    <div class="col-md-4">
        <h3> Latest Jobs</h3>
    </div>
</div>

{% endblock %}