{% extends 'base.html' %}
{% load static %}

{% block title %} News App | Hack News {% endblock%}

{% block content %}

<div id="mycarousel" style="background-color: black;">
  <input type="radio" name="position" />
  <input type="radio" name="position" checked/>
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <!-- <input type="radio" name="position" /> -->
  <main id="carousel">
    {% for top_story in stories|slice:"0:4" %}
      <div class="item">
        <div class="card mt-5" style="width: 18rem;">
          <img class="card-img-top top_img" src="{{top_story.news_image.url}}" alt="Card image cap"> <br><br>
          <div class="card-body">
            <p class="card-text">{{top_story.title}}</p>
            <footer  style="font-size: 12px;"> <cite title="Source Title"> <a href="{{top_story.story_link}}"> {{top_story.story_link}}</a> </cite></footer>
          </div>
        </div>
      </div>
    {% endfor %}
   
    <!-- <div class="item"></div> -->
    <main>
</div>

<div class="row" id="news-body">

    <div class="col-md-8">
        <div id="news-header">
            <h5> Latest Tech Stories >>></h5>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
              </tr>
            </thead>
            {% if total_stories > 0 %}
              {% for story in stories %}
                <tbody>
                  <tr>
                     <td> <a href="{{story.get_absolute_url}}"> {{story.title}} </a> </td>
                  </tr>
                </tbody>
              {% endfor %}
            {% else %}
            <p> There are no available stories </p>
            {% endif %}
          </table>

          {% if stories.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if stories.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ stories.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true" >&laquo;</span>
                          <span class="sr-only">Previous</span>
                          </a>
                      </li>
                    {% else %}
                      <li class=" page-item disabled page-link"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in stories.paginator.page_range %}
                      {% if stories.number == i %}
                          <li class="active page-item page-link"><span style="color: red;">{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if stories.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ stories.next_page_number }}" aria-label="Next">
                          <span aria-hidden="true" >&raquo;</span>
                          <span class="sr-only">Next</span>
                          </a>
                      </li>
                    {% else %}
                      <li class=" page-item disabled page-link"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
      {% endif %}
        
    </div>

    <div class="col-md-4" style="background-color: black;">
        <h3 style="color: white;"> Top Stories</h3><br>
      
        {% for top_story in stories|slice:"0:3" %}
          <img src="{{ top_story.news_image.url}}" alt="Top story" class="img-thumbnail">
          <blockquote class="blockquote">
            <p class="mb-0" style="color: black; color: white;">{{top_story.title}}</p>
            <footer  style="font-size: 12px;"> <cite title="Source Title"> <a href="{{top_story.story_link}}"> {{top_story.story_link}}</a> </cite></footer>
          </blockquote>
        {% endfor %}
    </div>
</div>

{% endblock %}